src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="07cfe966-f00a-4abf-a3ec-26592453333e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="a66ac74e-479a-4dbc-a38d-5d5f8caeffdb" >
		<http:listener doc:name="Listener" doc:id="63c4a892-5c8a-4964-a5e4-dfa8d13c8cc9" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value="#['march class']" doc:name="Set Payload" doc:id="9b2e8f5c-7511-441f-8db3-9b8d1aea6b0f" />
	</flow>
</mule>
